# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
venv/
env/
.ipynb_checkpoints/

# Data (local only)
vimeo_septuplet/
*.mp4
*.avi

# Models & checkpoints
models/checkpoints*/
models/best_*.pt
*.pth
*.pt

# Outputs
outputs/
logs/

# OS / editor junk
.DS_Store
*.swp
.idea/
.vscode/
